.idea/
/learn/selenium/learn/testerOprogramowania/screenshot/
/phptravels/tests/.pytest_cache/
/learn/selenium/learn/testerOprogramowania/10_pytest/.pytest_cache/
*.pyc
/report/
/phptravels/tests/.pytest_cache/
/phptravels/report/
/phptravels/tests/geckodriver.log